.inline {
  display:inline;
}
.ib {
  display:inline-block;
  margin-left:1em;
}
.ltr {
  direction:ltr;
}
.dt {
  display:table;
}
.pc {
  display:table-cell;
  width:0.35em;
}
.bs {
  border-spacing:2px;
}
.bs5 {
  border-spacing:5px;
}
.spaced {
  margin-bottom:0.5em;
}
.h100 {
  height:100%;
  display:table-cell;
  vertical-align:middle;
}
.btn.h100 {
  display:table-cell;
}
.w1 {
  width:2px;
  background-color:red;
  margin-left:2px;
}
.ap {
  position:relative;
}
.cost {
  position:absolute;
  bottom:0px;
  right:0px;
  font-size:xx-small;
}
.pos li {
  list-style: none;
  border-style: solid;
  display: table-cell;
  border-width: thin;
  border-radius: 0;
  padding: 0.8em;
  cursor:pointer;
}
.pos.switch li {
  padding: 0.4em;
}
.switch {
  display:table;
  margin-right:0;
}
.disabled {
  border-color:#FDB8B8;
  cursor:not-allowed !important;
}
.disabled.submit.btn {
  border-color:#FDB8B8;
}
.pos1 {
  background-color:#33FF33;
}
.pos4 {
  background-color:#FFDBDB;
}
.pos2 {
  background-color:#BEFFF8;
}
.pos3 {
  background-color:#FCFF8B;
  font-family:sans-serif;
}
.error {
  margin-top:0;
  display:inline-block;
  background-color:#FFDBDB;
  padding:0.8em;
  border-radius:1px;
  border-width:1px;
  border-style:solid;
}
.ac {
  color:#AD97BD;
  text-align:center;
}
.pos0 {
  background-color:#AD97BD;
}
.btmpad {
  padding-bottom:0.8em;
}
li.case {
  list-style: none;
  margin-left:0.35em;
}
.case pre {
  border-style: solid;
  border-width: thin;
  border-radius: 1px;
  padding: 0.8em;
  margin:0.1em;
  cursor:pointer;
  font-family:serif;
}
ul.pos,ul.cases {
  direction:rtl;
  padding:0;
  margin:0.35em;
  margin-top:0.35em;
  margin-bottom:0.35em;
  max-height:21em;
  overflow-y:scroll;
}
h2.prop {
  margin-bottom:0;
}
#nux {
  padding:0.5em;
}
.pitch {
  text-align:center;
  font-size:larger;
}
p.instr {
  margin-top:0.5em;
}
textarea#propose {
  padding:0.8em;
  border-radius:1px;
  min-width:19em;
  border-style:inset;
  border-width:2px;
  font-size:small;
}
textarea.case {
  padding:0.8em;
  border-radius:1px;
  min-width:19em;
  border-width:1px;
  border-style:solid;
  border-color:black;
  font-size:small;
}
a.btn {
  text-decoration:none;
}
.btn {
  display:inline-block;
  padding:0.8em;
  border-width:medium;
  border-style:outset;
  border-radius:1px;
  cursor:pointer;
}
.submit.btn {
  border-color:#33FF33;
}
.done {
  padding:0.8em;
  border-width:medium;
  border-style:dashed;
  border-radius:1px;
}
.pos1 .loader {
  border-top: 0.35em solid white;
}
.pos2 .loader {
  border-left: 0.35em solid white;
}
.pos3 .loader {
  border-right:0.35em solid white;
}
.pos4 .loader {
  border-bottom: 0.35em solid white;
}
.loader {
  border-top: 0.35em solid #33ff33;
  border-left: 0.35em solid #BEFFF8;
  border-bottom: 0.35em solid #FFDBDB;
  border-right: 0.35em solid #FCFF8B;
  border-radius: 50%;
  width: 0.3em;
  height: 0.3em;
  margin:0;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
