.inline {
  display:inline;
}
.ib {
  display:inline-block;
  margin-left:1em;
}
.dt {
  display:table;
}
.h100 {
  height:100%;
  display:table-cell;
  vertical-align:middle;
}
.w1 {
  width:1px;
  background-color:red;
  margin-left:2px;
}
.pos li {
  list-style: none;
  border-style: solid;
  display: inline-block;
  border-width: thin;
  border-radius: 0.5em;
  padding: 1em;
  cursor:pointer;
}
.disabled {
  border-color:#FDB8B8;
  cursor:not-allowed !important;
}
.pos1 {
  background-color:#33FF33;
}
.pos3 {
  background-color:#FFDBDB;
}
.pos2 {
  background-color:#BEFFF8;
}
.pos4 {
  background-color:#FCFF8B;
}
.pos0 {
  background-color:#AD97BD;
}
.btmpad {
  padding-bottom:1em;
}
li.case {
  list-style: none;
  display: block;
}
li.case p {
  border-style: solid;
  border-width: thin;
  border-radius: 1px;
  padding: 1em;
  display:inline-block;
  margin:0.1em;
  cursor:pointer;
}
ul.pos,ul.cases {
  padding:0;
  margin:0;
  max-height:21em;
  overflow-y:scroll;
}
h2.prop {
  margin-bottom:0;
}
p.instr {
  margin-top:0.5em;
}
textarea#propose {
  padding:1em;
  border-radius:1px;
  min-width:19em;
  border-style:inset;
  border-width:2px;
}
textarea.case {
  padding:1em;
  border-radius:1px;
  min-width:19em;
  border-width:2px;
  border-style:inset;
}
.btn {
  display:inline-block;
  padding:1em;
  border-width:medium;
  border-style:outset;
  border-radius:1px;
  cursor:pointer;
}
.done {
  padding:1em;
  border-width:medium;
  border-style:dashed;
  border-radius:1px;
}
